<% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
          <ol class="microposts">
            <li>
              <%= gravatar_for(current_user,size:50) %>
              <span class="user"><%= @user.name %></span>
              <span class="content"><%= @user.email %></span>
            </li>
          </ol>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      
    </aside>
    <div class="col-md-8 ">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
          <%= will_paginate @microposts %>
        <% end %>
    </div>
  </div>
</div>
