<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= will_paginate %>
    <table class="table table-striped">
      <tr>
        <td>ID</td>
        <td>头像</td>
        <td>用户名</td>
        <td>创建时间</td>
        <td>微博</td>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= gravatar_for user, size: 30 %></td>
        <td><%= link_to user.name,user %></td>
        <td><%= user.created_at.to_s(:db) %></td>
        <td><%= link_to 'microposts', admin_user_microposts_path(user) %></td>
      </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </div>
</div>
