<div class="row">
  <div class="col-md-8 ">

    <%= form_tag admin_user_path, method: :get do %>
      <%= label_tag :content %>
      <%= text_field_tag :content %>
      <%= submit_tag 'search' %>
    <% end %>
    <%= will_paginate @microposts %>
    <table class="table table-striped">
      <tr>
        <td>ID</td>
        <td>头像</td>
        <td>用户名</td>
        <td>创建时间</td>
        <td>微博</td>
        <td>删除</td>
      </tr>
      <% @microposts.each do |micropost| %>
        <tr>
          <td><%= @user.id %></td>
          <td><%= gravatar_for @user, size: 30 %></td>
          <td><%= link_to @user.name, @user %></td>
          <td><%= micropost.created_at.to_s(:db) %></td>
          <td>
            <%= micropost.content %>
            <%= image_tag micropost.picture.url if micropost.picture? %>
          </td>
          <td><%= link_to 'delete',micropost,method: :delete %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @microposts %>
  </div>
</div>
